<section class="about ">
  <div class="about__inner wrapper">
    <div class="about__text">
      <h2 class="about__title">Who We Are</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus quo magni voluptas assumenda ea cum reprehenderit iusto consequuntur, nesciunt quas omnis fugit eos amet saepe doloribus fuga dolor aliquid velit excepturi commodi laudantium ad. At deserunt facilis laboriosam corporis asperiores!
      </p>
    </div>

    <div class="about__img">
      <img src="/assets/imgs/ring.png" alt="">
    </div>

  </div>

</section>
