<footer class="footer">
<div class="footer__inner wrapper">

  <div>
    <nav class="footer__nav">
      <ul>
        <li><a href="">top</a></li>
        <li><a href="">about</a></li>
        <li><a href="">menu</a></li>
      </ul>
    </nav>
  </div>

  <div class="footer__bottom">
      <div class="footer__contact">
        <p class="footer__title">contact</p>

        <div class="footer__section">
          <i class="fas fa-phone"></i>
          <p class="body">1-234-567-8910</p>
        </div>

        <div class="footer__section">
          <i class="fas fa-map-marker-alt"></i>
          <p class="body">1234 S. Street Austin, Tx 12345</p>
        </div>

        <div class="footer__section">
          <i class="fas fa-envelope"></i>
          <p class="body">cafe@email.com</p>
        </div>
      </div>

      <div class="footer__social">
        <p class="footer__title">social</p>

        <div class="footer__section">
          <i class="fab fa-instagram"></i>
          <p class="body">instagram</p>
        </div>
        <div class="footer__section">
          <i class="fab fa-facebook-square"></i>
          <p class="body">facebook</p>
        </div>
        <div class="footer__section">
          <i class="fab fa-twitter-square"></i>
          <p class="body">twitter</p>
        </div>
      </div>
  </div>
</div>

<div class="legal">
  <p>Copywrite &copy;2018 | Designed and built by <a href="">TA_Coding</a> | <a href="">Sitemap</a> | <a href="">Privacy Policy</a></p>
</div>
</footer>
