<header class="header">
  <nav class="header__nav">
    <!-- <a href="#" class="header__logo">logo</a> -->
    <ul>
      <li><a href="">about</a></li>
      <li><a href="">menu</a></li>
      <li><a href="">locations</a></li>
    </ul>
  </nav>

  <p class="header__intro intro animated zoomIn">Welcome to</p>
  <h1 class="header__title animated fadeInUp">The Café</h1>
  <p class="header__subtitle">Little subtitle about The Café.</p>
  <a class="header__link cta-button" href="#">Our Menu</a>
</header>
