<section class="map">
  <h2 class="intro">Find us</h2>
  <div class="hours">
    <p class="hours__title">Open Hours</p>
    <p class="hours__body">Mon-Sat: 7am-4pm</p>
    <p class="hours__body">Sun: 10am-2pm</p>
  </div>
  <a href="" class="cta-button">Open in Google Maps</a>
</section>
