<section class="menu">
  <div class="menu__inner">
  <p class="intro">Discover our</p>
  <h2 class="menu__title">Menu</h2>
  <nav class="menu__nav">
    <ul>
      <li><a href="">Coffee</a></li>
      <li><a href="">Breakfast</a></li>
      <li><a href="">Lunch</a></li>
    </ul>
  </nav>

  <div class="menu__section" id="coffee">

    <div class="item">
      <div>
        <p class="item__title">Latté</p>
        <p class="item__desc">Espresso, steamed milk</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>

    </div>

    <div class="item">
      <div>
        <p class="item__title">Cappuccino</p>
        <p class="item__desc">Espresso, steamed milk</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

    <div class="item">
      <div>
        <p class="item__title">Coffee</p>
        <p class="item__desc">Bean Juice</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

  </div>
</div>
</section>
