<section class="menu">
  <div class="menu__inner">
  <p class="intro" id="menu">Discover our</p>
  <h2 class="menu__title">Menu</h2>
  <nav class="menu__nav">
    <ul>
      <li class="coffee active">Coffee</li>
      <li class="breakfast">Breakfast</li>
      <li class="lunch">Lunch</li>
    </ul>
  </nav>

  <div class="menu__section visible" id="coffee">

    <div class="item">
      <div>
        <p class="item__title">Latté</p>
        <p class="item__desc">Espresso, steamed milk</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>

    </div>

    <div class="item">
      <div>
        <p class="item__title">Cappuccino</p>
        <p class="item__desc">Espresso, steamed milk</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

    <div class="item">
      <div>
        <p class="item__title">Coffee</p>
        <p class="item__desc">Bean Juice</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

  </div>



  <div class="menu__section" id="breakfast">

    <div class="item">
      <div>
        <p class="item__title">Bagel</p>
        <p class="item__desc">Bagel and veggie cream cheese</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>

    </div>

    <div class="item">
      <div>
        <p class="item__title">Breakfast Wrap</p>
        <p class="item__desc">Bacon, cheese, and egg in a flour tortilla</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

    <div class="item">
      <div>
        <p class="item__title">Parfait</p>
        <p class="item__desc">Yogurt, blueberries, granola</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

  </div>



  <div class="menu__section" id="lunch">

    <div class="item">
      <div>
        <p class="item__title">Lunch Wrap</p>
        <p class="item__desc">Spinach, tomato, sprouts, and bacon in a tortilla</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>

    </div>

    <div class="item">
      <div>
        <p class="item__title">Quiche</p>
        <p class="item__desc">Spinach quiche</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

    <div class="item">
      <div>
        <p class="item__title">Veggie Sandwich</p>
        <p class="item__desc">Rye bread, avocado, sprouts, and gouda cheese</p>
      </div>
      <div class="prices">
        <p class="item__price">3.00</p>
        <p class="item__price">3.50</p>
        <p class="item__price">4.00</p>
      </div>
    </div>

  </div>
</div>
</section>
