// fonts sizes
$font-body: 1.9rem;
$font-body-lg: 2.3rem;
$font-header-section: 7.4rem;
$font-header-section-sm: 5.6rem;
$font-subheader: 2.7rem;

// colors
$color-body: #f5f4ef;
$color-accent: #bda12c;
$color-text-light: #d8d7c7;
$color-text-medium: #a3a39d;
$color-text-dark: #4e4848;
$color-text-xdark: #252222;

$color-blue: #1e1e26;

// padding
$p-sm: 1rem;
$p-md: 1.7rem;
$p-lg: 2.1rem;
$p-xl: 2.5rem;

// margin
$m-section-lg: 15rem;
$m-section-sm: 10rem;

// shadows
$shadow-button: 0px 6px 36px -6px rgba(0,0,0,0.65);
$shadow-card: 0px 3px 20px 0px rgba(0,0,0,0.25);
